
<form class="row g-3">
  <div class="col-md-4">
    <label for="name" class="form-label">Student Name</label>
    <input type="text" class="form-control is-valid" [ngClass]="{
      'is-valid': isNameValid,
      'is-invalid': !isNameValid
    }" name="name" [(ngModel)]="stdName" id="name" required>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Something looks wrong!<br>
      Name is Requird , And Must Be More Than 3 Letters!!
    </div>
  </div>
  <div class="col-md-4">
    <label for="age" class="form-label">Age</label>
    <input type="number" class="form-control " [ngClass]="{
      'is-valid': isAgeValid,
      'is-invalid' : !isAgeValid
    }" name="age" [(ngModel)]="stdAge"  id="age"  required>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Something looks wrong! <br>
      Age Must Be 18 and 35
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>
