<!-- ---------------------- class binding --------------------- -->
<h1>attribute-directives </h1>

Apply class <input type="checkbox" name="apply" [(ngModel)]="applyClass">

<div [class.Custombg]="applyClass">
<h2>Class binding 1</h2>
</div>
<!-- ---------------------- ng class --------------------- -->
<div [ngClass]="{
    Custombg: applyClass,
    Redbg : !applyClass ,
    'text-center' :applyClass
}">
    <h2>ng class</h2>
</div>
<!-- ---------------------- style binding --------------------- -->
<select name="color" [(ngModel)]="color">
    <option value="red">red</option>
    <option value="green">green</option>
    <option value="blue">blue</option> 
</select>
<div [style.background-color]="color">
    <h2>style binding</h2>
</div>
<!-- ---------------------- ng style --------------------- -->
<select name="forcolor" [(ngModel)]="forcolor">
    <option value="black">black</option>
    <option value="white">white</option> 
</select>
<div [ngStyle]="{
    backgroundColor : color,
    color : forcolor
    
}">
    <h2>ng style</h2>
</div>