<!-- <app-attribute-directives></app-attribute-directives> -->
<!-- <app-form-validation></app-form-validation> -->

<app-nav-bar></app-nav-bar>
<div class="fuild-container">
    <div class="row">
        <div class="col-3">
            <app-aside></app-aside>
        </div>
        <div class="col-9">
            <!-- <app-home></app-home> -->
            <!-- <app-students></app-students> -->
            <!-- <input name="data" [(ngModel)]="data">
            <app-component-life-cycle [inData]="data" [test]="2"></app-component-life-cycle> -->
            <app-parent></app-parent>
        </div>
    </div>
</div>

<app-footer></app-footer>